# Data
pandas==2.2.2
numpy==1.26.4
kaggle==1.6.17

# NLP & ML
scikit-learn==1.4.2
transformers==4.40.1
torch==2.3.0
datasets==2.19.1
accelerate>=0.21.0
shap==0.45.0

# API
fastapi==0.111.0
uvicorn[standard]==0.29.0
pydantic==2.7.1
pydantic-settings==2.2.1

# Dashboard
streamlit==1.35.0

# Reddit (pour plus tard)
praw==7.7.1

# Database
sqlalchemy==2.0.30
psycopg2-binary==2.9.9

# Utils
python-dotenv==1.0.1
pyyaml==6.0.1
loguru==0.7.2

# Langue
langdetect==1.0.9
deep-translator==1.11.4
